/* .tabs-container > .tab.active.tab-border-top > .tab-border-top-container {
  height: 1.5px !important;
  background-image: linear-gradient(
      90deg,
      rgba(25, 26, 46, 1) 0%,
      rgba(25, 26, 46, 0.12) 100%
    ),
    linear-gradient(
      90deg,
      rgba(210, 110, 233, 0.819) 36.27%,
      rgb(255, 71, 149) 71.37%,
      rgb(255, 204, 71) 92.98%
    ) !important;
  animation: animate 3.5s linear infinite forwards !important;
}
.tabs-container > .tab {
  overflow: hidden !important;
}
@keyframes animate {
  from {
    transform: translateX(-300px) translateZ(0px);
  }
  to {
    transform: translateX(300px) translateZ(0px);
  }
} */

/* .tabs-container > .tab.active.tab-border-top > .tab-border-top-container {
  background-size: 400% 400% !important;
  background-image: linear-gradient(
    -45deg,
    #fc6c8f,
    #ff2ced,
    #ffb86c,
    #2cccff,
    #20e3b2,
    #ffcc70,
    #c850c0,
    #4158d0
  ) !important;
  animation: gradient 5s ease alternate infinite !important;
  height: 3px !important;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

/* Setting for all vertical scroll */
.scrollbar.vertical > .slider {
  width: 8px !important;
  border-radius: 10px;
}

/* Setting for all horizontal scroll */
.scrollbar.horizontal > .slider {
  height: 8px !important;
  border-radius: 10px;
}

/* Setting for scroll of editor */
.editor-container .monaco-scrollable-element > .scrollbar.vertical > .slider {
  margin-left: 2px;
}

/* Setting for scroll of terminal */
.terminal > .xterm-scrollable-element .scrollbar.vertical > .slider {
  margin-left: 2px;
}

/* Hidden border near scroll */
.editor-container .monaco-scrollable-element > canvas {
  width: 0 !important;
}
.terminal > canvas {
  width: 0 !important;
}

