:root {
    --size-scroll: 6px;
    --borer-radius: 6px;
    --margin-left: 4px;
    --color: #cccccc80;
}

/* Setting for all vertical scroll */
.scrollbar.vertical > .slider {
    width: var(--size-scroll) !important;
    border-radius: var(--borer-radius);
    background-color: var(--color);
}

/* Setting for all horizontal scroll */
.scrollbar.horizontal > .slider {
    height: var(--size-scroll) !important;
    border-radius: var(--borer-radius);
}

/* Setting for scroll of editor */
.editor-container .monaco-scrollable-element > .scrollbar.vertical > .slider {
    margin-left: var(--margin-left);
}

/* Setting for scroll of terminal */
.terminal > .xterm-scrollable-element .scrollbar.vertical > .slider {
    margin-left: var(--margin-left);
}

/* Hidden border near scroll */
.editor-container .monaco-scrollable-element > canvas {
    width: 0 !important;
}
.terminal > canvas {
    width: 0 !important;
}
